[Unit]
After=network.target systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/home/dashpi/FSAE-influxdb/target/release/FSAE-influxdb
Restart=on-failure

[Install]
Wanted=multi-user.target